* {
    margin: 0;
}
div{
  display:block;
}

li>a {
  color:white;
  text-decoration: none;
  font-weight:bolder;
  display:block;
  padding:0.9em;
  text-align: center;
  font-size:1.8em;
}

.week_a {
  color:white;
  text-decoration: none;
  font-weight:bolder;
  display:block;
  padding:0.5em;
  text-align: center;
  font-size:1.4em;
}

li>a:hover {
  color:white;
  text-decoration: none;
  /*background-color: red;*/
}  

li>a:visited {
  color:white;
  text-decoration: none;
}


.mainButton{
  text-decoration: none;
  font-size:1.8em;
  color:white;

}
.weekButton{
  text-decoration: none;
  font-size:1.2em;
  color:white;
}

.weekButton:visited {
  text-decoration:none;
  color:white;
}
.week{
  float:right;
  position:relative;
  margin-top:-2.5em;
  margin-right:22%;
  color:white;
  font-size:1.4em; 
  font-family: Helvetica, Arial, Sans-serif;
  font-weight: bolder;
}
#calendarIcon{
  float:right;
  position:relative;
  margin-right:9.8%;
  margin-top:-4.3em;
  width:7em;
}


.mainButton:visited{
  text-decoration:none;
  color:white;
}


nav {
  display: block;
  position: relative;
  top:0px;
  margin:0px;
  height:4.9em;
  margin-top:-1em;
  
}

  
  
ul {
  display:block;
  /*min-width:480px;*/
  margin:0px 12%;
  padding-left: 0;
  list-style: none;
  overflow: hidden;
  margin-top:1em;
  height:4.9em;
  
}
li {
  float: left;
  width:20%;
  font-family: Helvetica, Arial, Sans-serif;
  font-weight: normal;
  color:white;
  text-align:center;
  display:block;
}

li:hover {
  /*background-color: #00AF64;*/  
  background-color: #035E37;
}



.MainHeader {
  margin:0px 12%;
  line-height: 2.2em;
  text-align: left;
  font-family: Helvetica, Arial, Sans-serif;
  font-weight: normal;
  color:white;
}
.MainHeaderDiv {
  background-color:#007241;
  height:10.4em;
}


/* линия над меню*/
.line{
  background-color:#218356;
  height:0.5em;
}
/* Главный светло-зелёный блок*/
.mainBlock {
  margin:0px 12%;
  background-color: #D4FFEC/*#F5FFFB*/;
  height:70%;
  /*min-width:480px;*/
}

/* свойства таблицы*/
.table {
  width:100%;
  /*padding:2px;*/
  text-align: center;
  font-family: Helvetica, Arial, Sans-serif;
  font-weight: bolder;
  font-size: 1.5em;
}
._12column{
  width:5%;
  padding:1em;
}
._4column{
  width:5%;
  padding:2em;
}
._3column{
  width:50%;
}
._5column{
  width:20%;
  padding:em;
}
.rowHeight{
  height:7em;
}
/* отдельные свойства новостей*/
  p.newsPage {
  padding:1em;
  font-size:1.3em;
  font-family: Helvetica, Arial, Sans-serif;
}
 h1.newsPage {
  padding:0.3em;
  background-color:#A3E6C8;
  font-family: Helvetica, Arial, Sans-serif;
  font-weight: bolder;
  font-size: 1.6em;
  margin-top:2em;
}

/*Свойства календаря*/
#calendar{
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1.9em;
}
#firstRowCalendar{
  height:1em;
}


.calendarMonth{
  font-weight: bold;
}

.calendarNotActive {
  color:gray;
}

#calendarWeekEnd {
  color:#c0392b;
}

td>a {
  text-decoration:none;
  color:black;
}

td>a:visited {
  text-decoration:none;
  color:black;
}
.spanHeight{
  height:2em;
  padding:0.2em;
}
